[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
nbdev = "*"

[packages]
scrapy = "*"
beautifulsoup4 = "*"
lxml = "*"
fire = "*"
streamlit = "*"
pandas-profiling = "*"
spacy = "*"
pymysql = "*"
pulp = "*"
mip = "*"

[requires]
python_version = "3.7"
